// User custom styles

// Alternative title color switch
// Uncomment the following style will enalbe alternative post title color, this is useful when you're using the custom theme from above.
.content { .list h2 a, header h1, header h1 a { color: @link-color; } }
.external span { background: @link-color; }

// Alternative title size
// By default all heading levels have the same font size, but many people may not like this, so here's an alternative font size stack:
.content {
  h2 { font-size: 140%; opacity: .6; }
  h3 { font-size: 110%; opacity: .5; }
  h4 { font-size: 84%;  opacity: .4; }
  h5 { font-size: 72%;  opacity: .3; }
  h6 { font-size: 60%;  opacity: .2; }
}

// Custom styles for open.leancloud.cn
@link-color: #3090e4;
@background-color: #fff;
@text-color: #000;

.content header h2.title-fix {
  margin-left: -0.04em;
}

.post-modified-date {
  opacity: .4;
}

.em-dash-fix {
  display: inline-block;

  &:first-letter {
    letter-spacing: -.3em;
  }
}

// Posts with Asian characters
[lang=zh],
[lang=ja] {
  text-align: start;

  header {
    text-align: start;
  }
}

// Since most contents are written in Chinese, avoid italic.
.footnotes {
  font-style: normal;
}
