<!-- Insert scripts here -->
<!-- The following code is an example use of including external JavaScript libraries -->
{% if page.plugin == 'intense' %}

  <script src="{{ '/js/intense.js' | prepend: site.assets | prepend: site.base }}"></script>
  <script>
    window.onload = function() {
      var fx = document.querySelectorAll('p > img:not(.nointense)');
      var el = document.body;
      var cl = 'loaded'

      if (el.classList)
        el.classList.add(cl);
      else
        el.className += ' ' + cl;

      Intense(fx);
    }
  </script>
{% endif %}

{% if site.ga_tracking_code %}
  <script>
    (function(l,e,a,n,o,p,){l['GoogleAnalyticsObject']=o;l[o]=l[o]||function(){
    (l[o].q=l[o].q||[]).push(arguments)},l[o].l=1*new Date();p=e.createElement(a),
    =e.getElementsByTagName(a)[0];p.async=1;p.src=n;.parentNode.insertBefore(p,)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.ga_tracking_code }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}
<!-- Foot hooks -->
{% if page.foot %}
  {{ page.foot }}
{% endif %}
